@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;700&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
    4. Media Queries
////////////////////////////////////////////////////////////////////////*/

/*////////////////////////
    1. Global Styles
////////////////////////*/

body {
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: yellow;
    padding: 1rem;
}

section {
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
}

img {
    width: 100%;
}

/*////////////////////////
    2. Typography
////////////////////////*/



/*////////////////////////
    3. Areas
////////////////////////*/




/*////////////////////////
    2. Media Queries
////////////////////////*/
@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
        background-color: orange;
    }
}

@media screen and (min-width: 992px) {
    body {
        font-size: 20px;
        background-color: red;
    }
}